* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
}

body {
  background-color:#050A30;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
  overflow: hidden;
}

.FormNest {
  background-color: #81cce8;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
  box-shadow: 5px 5px 25px #7EC8E3 ;
}

.FormNest h2 {
  margin-bottom: 20px;
  text-align: center;
  color: #161515;
}

.form-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 15px;
  box-shadow: 1px 1px 5px black;
  border-radius: 5px;
}

.required {
  color: rgb(207, 4, 4);
  font-weight: lighter;
}

.form-group label {
  display: inline-block;
  margin-bottom: 6px;
  font-weight: bold;
  color: #231c1c;
  width: 100px;
}

.form-group input,
.form-group select,
.form-group textarea {
  width: 75%;
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 6px;
  transition: border-color 0.3s;
  display: inline-block;
}

.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
  border-color: #3d74af;
  outline: none;
}

button {
  width: 20%;
  padding: 12px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

#BuzzBox {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: #0000FF;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: 11;
  animation: logoFade 3s forwards;
}

.logo {
  width: 150px;
  transition: transform 3s ease, opacitty 3s ease;
}

@keyframes logoFade {
  0% {
    opacity: 1;
    transform:scale(1.5);
  }
  100%{
    transform:scale(0.5);
    opacity: 0;
  }
}

.Blinklet {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.login-box {
  background: white;
  padding: 30px;
  border-radius: 8px;
  text-align: center;
  width: 300px;
  animation: fadeIn 4s ease;
  box-shadow: 2px 2px 10px #8adbf9;
}

.login-box input{
  width: 100%;
  padding:10px;
  margin:10px 0;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgb(55, 53, 53);
}

.login-box button {
  width: 100%;
  padding: 10px;
  background: royalblue;
  color: white;
  border: none;
  cursor: pointer;
  box-shadow: 1px 1px 5px black;
}

#loginMessage {
  margin-top: 10px;
  color: red;
}

@keyframes fadeIn {
  from {
    opacity: 0 ; transform: scale(0.9);
  }
  to {
    opacity: 1 ; transform: scale(1);
  }
}