* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
}

body {
   background-image:url("https://www.freepik.com/free-vector/technological-background-with-geometric-shapes_13182211.htm#fromView=keyword&page=3&position=1&uuid=8acfe8ae-b668-4082-afaf-0a4a34d5ee39&query=Technology+Digital+Background");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
  overflow: hidden;
}

.FormNest {
  background-color: white;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
  /* box-shadow: 2px 2px 10px #7EC8E3 ; */
}

.FormNest h2 {
  margin-bottom: 20px;
  text-align: center;
  color: #161515;
}

.form-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 15px;
  /* box-shadow: 1px 1px 5px black; */
  border-radius: 5px;
}

.required {
  color: rgb(207, 4, 4);
  font-weight: lighter;
}

.form-group label {
  display: inline-block;
  margin-bottom: 6px;
  font-weight: bold;
  color: #231c1c;
  width: 100px;
}

.form-group input,
.form-group select,
.form-group textarea {
  width: 75%;
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 6px;
  transition: border-color 0.3s;
  display: inline-block;
}

.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
  border-color: #3d74af;
  outline: none;
}

button {
  width: 20%; 
  padding: 12px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

#BuzzBox {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: white;
 /* background-image:url("https://m.media-amazon.com/images/I/41XEAMezA4L._UXNaN_FMjpg_QL85_.jpg");
  background-size: cover; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: 15;
  animation: logoFade 3s forwards;
}

.logo {
  width: 150px;
  transition: transform 3s ease, opacity 3s ease;
}

@keyframes logoFade {
  0% {
    opacity: 1;
    transform:scale(1.5);
  }
  100%{
    transform:scale(0.5);
    opacity: 0;
  }
}

.Blinklet {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image:url("https://m.media-amazon.com/images/I/41XEAMezA4L._UXNaN_FMjpg_QL85_.jpg");
  background-size: cover;
  display: flex;
   justify-content: center;
  align-items: center;
  z-index: 10;
} 

.login-box {
  background: white;
  padding: 30px;
  border-radius: 8px;
  display:flex;
  flex-direction: column;
  text-align: center;
  width: 300px;
  animation: fadeIn 1s ease;
  box-shadow: 2px 2px 10px #8adbf9;
}

.login-box input{
  width: 100%;
  padding:10px;
  margin:10px 0;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgb(55, 53, 53);
}

#msg {
  margin-top:10px;
}

.login-box button {
  width: 50%;
  padding: 10px;
  background: royalblue;
  color: white;
  border: none;
  cursor: pointer;
  box-shadow: 1px 1px 5px black;
}

.button-row {
  display: flex;
  gap: 10px; 
  justify-content: center;
  margin-top: 10px;
}

.button-row button {
  padding: 10px 20px;
  font-size: 16px;
}

#loginMessage {
  margin-top: 10px;
  color: red;
}

@keyframes fadeIn {
  from {
    opacity: 0 ; transform: scale(0.9);
  }
  to {
    opacity: 1 ; transform: scale(1);
  }
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image:url("https://m.media-amazon.com/images/I/41XEAMezA4L._UXNaN_FMjpg_QL85_.jpg");
  background-size: cover;
  display: flex;
   justify-content: center;
  align-items: center;
  z-index: 12;
}
.modal-content {
  background: white;
  padding: 30px;
  border-radius: 8px;
  display:flex;
  flex-direction: column;
  text-align: center;
  width: 300px;
  animation: fadeIn 1s ease;
  box-shadow: 2px 2px 10px #8adbf9;
  position: relative;
}
.close {
  display:flex;
  position: absolute;
  top: 10px;
  right: 15px;
  color: #aaa;
  font-size: 24px;
  cursor: pointer;
  margin-left:auto;
}

.modal-content button{
  width: 40%;
  padding: 10px;
  background: royalblue;
  color: white;
  border: none;
  cursor: pointer;
  box-shadow: 1px 1px 5px black;
  display: block;
  margin-left:auto;
}

.modal-content input {
  width: 100%;
  padding:10px;
  margin:10px 0;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgb(55, 53, 53);
}

.newUserPanel {
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
  background-color: #f5f7f8;
}

.newUserPanel h2 {
  margin-bottom: 20px;
  text-align: center;
  color: #161515;
}

.form-group2 input{
  width: 100%; 
  padding: 10px;
  border: 1px solid #aaa; 
   border-radius: 5px;
}

.newUserPanel button{
  width: 100%;
  padding: 12px;
  background-color: #5b86e5;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-group2 label {
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
  color: #444;
} 
.form-group2 {
  margin-bottom: 20px;
}

.newUserPanel button:hover{
  background-color: rgb(15, 39, 110);
}
 .entryGate {
position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image:url("https://m.media-amazon.com/images/I/41XEAMezA4L._UXNaN_FMjpg_QL85_.jpg");
  background-size: cover;
  display: flex;
   justify-content: center;
  align-items: center;
  padding: 20px;
  z-index:11;
 } 

 .newUserPanel p,
.newUserPanel a {
  display: block;
  text-align: center;
  margin-top: 10px;
}

@media (max-width: 480px) {
  .newUserPanel {
    padding: 20px;
  }
}